* {
    
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-style: normal;
}

body {
    margin-top: 2rem;
    background: url(media/image.png);
    background-color: #071629;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto ;
    position: relative;
    top : 5vh;
    bottom : 10rem;
    width: 60%;
    height: 80%;
    background:#07162950 ;
    padding: 2rem;

}

input, textarea {
    border: none;
    outline: none;
    background-color: #07162920;
    width: 100%;
    font-size: 1.2rem;
    margin: 0.5vmin 0;
}

input::placeholder {
    font-size: 1rem;
    color: gray;
    padding-left: 2%;
}

textarea::placeholder {
    font-size: 1rem;
    color: gray;
    padding-left: 2%;
    font-weight:lighter ;
}
label {
    color: #07162980;
    font-size: large;
    font-weight: bold;

}

input[type="submit"], input[type="reset"]{
    width: 30%;
    color: blue;
    background-color:lightblue;
    border-radius: 10%;
    cursor: pointer;
    margin-right: 70px;
} 

.error {
    color: red;
    font-size: small;
}